/*
!/wal
!/qutebrowser/config.py
!/qutebrowser/qutewal.py
!/qutebrowser/qutewald.py
!/wofi
!/zathura
!/ranger
!/swaylock/config
!/reshift/redshift.conf
!/nvim/init.vim
!/mako/config
!/kitty
!/sway/config
!/environment.d
!/scripts
!/zsh
!/zsh/.zshrc
nvim/plugged
*.md
zsh/.zcompdump*
zsh/oh-my-zsh/*
!/zsh/oh-my-zsh/custom
/zsh/oh-my-zsh/custom/plugins
!/qtile
__pycache__
